img {
    size: 100px;
    border-radius: 5%;
}

.giif {
    color:aliceblue;
}
body {
    font-size: larger;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(223, 240, 255);
    transition: color 2 ease-in-out;
    background-color: rgba(9, 9, 19, 0.914);
}
body:hover {
    color: rgb(207, 255, 239);
}
a:link{
    border: 10cm;
    color: aliceblue;
    border-color: rgb(232, 244, 255);
    padding: 0.5%;
    border-radius: 20%;
    background-color: rgb(17, 66, 109);
}
a:hover {
    color: aqua;
}

video {
    border-radius: 5%;
}
