img {
    size: 100px;
}
body {
    font-size: larger;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: aliceblue;
    background-color: rgba(16, 17, 34, 0.914);
}

